* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
}

a:link {
  border-radius: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header CSS */
.header {
  grid-column: 1 / -1;
  display: flex;
  height: 70px;
  margin-left: 15px;
}

.header > a:link {
  color: black;
  align-self: center;
}

.header > a:visited {
  color: black;
}

.header > a:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.fa-pinterest {
  margin: 10px;
  color: crimson;
  border-radius: 10px;
}

input {
  border-radius: 30px;
  border-style: none;
  background-color: whitesmoke;
  height: 50px;
  width: 1300px;
  align-self: center;
}

input:hover {
  background-color: gainsboro;
}

input,
input::-webkit-input-placeholder {
  font-size: 16px;
}

.fa-bell,
.fa-comment-dots,
.fa-user-circle,
.fa-chevron-down {
  margin: 10px;
  color: dimgray;
  border-radius: 10px;
}

/*Content on hover CSS */
.imageContainer {
  position: relative;
  margin-bottom: 15px;
  background: rgb(1, 1, 1);
  background-clip: content-box;
  border-radius: 30px;
  border-style: none;
}

.save-button {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: crimson;
  color: white;
  padding: 15px;
}

.share-button {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 65px;
  color: dimgray;
  padding: 10px;
  background-color: white;
}

.more-button {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 15px;
  color: dimgray;
  padding: 10px;
  background-color: white;
}

.imageContainer:hover img,
.imageContainer:hover video {
  cursor: zoom-in;
  opacity: 0.6;
}

.imageContainer:hover .save-button,
.imageContainer:hover .share-button,
.imageContainer:hover .more-button {
  display: block;
}
