* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
}

a:link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header CSS */
.header {
  grid-column: 1 / -1;
  display: flex;
  height: 4.4rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 100%;
  z-index: 200;
  background-color: white;
}

.header > a:link {
  color: black;
  align-self: center;
}

.header > a:visited {
  color: black;
}

.btn-pin:hover,
.btn-home:hover,
.btn-today:hover,
.btn-notif:hover,
.btn-msg:hover,
.btn-acnt:hover,
.btn-down:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.fa-pinterest {
  color: crimson;
}

.btn-pin {
  padding: 10px;
  border-radius: 25px;
  margin-left: 15px;
}

.btn-home {
  padding: 15px;
  margin-right: 2px;
  border-radius: 25px;
}

.btn-today {
  padding: 15px;
  margin-right: 12px;
  border-radius: 25px;
}

input {
  border-radius: 30px;
  border-style: none;
  background-color: whitesmoke;
  height: 3rem;
  width: 80rem;
  align-self: center;
  flex-grow: 3;
}

input:hover {
  background-color: gainsboro;
}

input,
input::-webkit-input-placeholder {
  font-size: 16px;
}

.fa-bell,
.fa-comment-dots,
.fa-user-circle,
.fa-chevron-down,
.fa-home,
.fa-search {
  color: dimgray;
}

.btn-notif,
.btn-msg,
.btn-acnt,
.btn-down {
  padding: 10px;
  border-radius: 25px;
}

.btn-notif {
  margin-left: 20px;
}

/*Header for mobile device and tablets */
.btn-mobile-foryou,
.btn-mobile-today {
  display: none;
  padding: 15px;
}

@media (max-width: 960px) {
  .btn-pin,
  .btn-home,
  .btn-today,
  .input-search,
  .btn-notif,
  .btn-msg,
  .btn-acnt,
  .btn-down {
    display: none;
  }

  .btn-mobile-foryou,
  .btn-mobile-today {
    display: block;
  }

  .footer {
    display: flex !important;
  }
}

/* Content CSS */
.content {
  grid-column: 1 / -1;
  column-count: auto;
  column-width: 12rem;
  column-gap: 15px;
}

/*Content on hover CSS */
.img-video-container {
  position: relative;
  margin-bottom: 15px;
  background: rgb(1, 1, 1);
  background-clip: content-box;
  border-radius: 20px;
}

img,
video {
  display: block;
  width: 100%;
  border-radius: 20px;
}

video::backdrop {
  background-color: #448;
}

.btn-save {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: crimson;
  color: white;
  padding: 15px;
  border-radius: 25px;
}

.btn-share {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 65px;
  color: dimgray;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

.btn-more {
  display: none;
  position: absolute;
  bottom: 25px;
  right: 15px;
  color: dimgray;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
}

.img-video-container:hover img,
.img-video-container:hover video {
  cursor: zoom-in;
  opacity: 0.6;
}

.img-video-container:hover .btn-save,
.img-video-container:hover .btn-share,
.img-video-container:hover .btn-more {
  display: block;
}

/*Footer CSS */
.footer {
  display: none;
  grid-column: -1/ 1;
  justify-self: center;
  align-items: center;
  background-color: white;
  height: 3rem;
  border-radius: 25px;
  position: sticky;
  top: 70%;
  bottom: 0;
  z-index: 300;
}

.btn-home-footer,
.btn-search,
.btn-msg-footer,
.btn-acnt-footer {
  margin: 1rem;
}
