.content {
  grid-column: 1 / -1;
  column-count: 4;
  column-gap: 15px;
}

.contentImg {
  width: 100%;
  border-radius: 30px;
}

video {
  border-radius: 30px;
  width: 100%;
  object-fit: contain;
}

video::backdrop {
  background-color: #448;
}

.footer {
  grid-column: 1 /-1;
}
